

/*NOTER TIL MOBILE FIRST*/

/* Lav IKKE din egen font eller rediger i det der står under sektionen Fonts her i kodningen*/

/* Vi laver det origninale design til mobil-størrelse (600px og ned), og så bruger vi media queries til større devices*/



/*Fonts*/

h1{font-family: Arial, Helvetica, sans-serif;}

h2,.obestil{font-family: Arial, Helvetica, sans-serif;}

h3 {font-family: Arial, Helvetica, sans-serif;}

h4, 
a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    }

h5{font-family: Arial, Helvetica, sans-serif;}

h6{font-family: Arial, Helvetica, sans-serif;}

p{font-family: 'Libre Baskerville', serif;
font-size: 16px;}



/*Font til kridtavler*/

/*Når du ønsker at bruge Pangolin-fonten, som er den vi bruger til kridtavler, så giv teksten en class, der hedder "chalk"*/

.chalk {font-family: 'Pangolin';
        color:white}



/* Når du ønsker at noget tekst er med tyk skrift, så giv den en class, der hedder "bold"*/

.bold {font-weight: 900;}



/*Når du ønsker at noget tekst står med kursiv, så giv den en class, der hedder "italic"*/

.italic {font-style: italic;}
/*HEADER*/


#laptoplogo, 
#tabletlogo,
nav {
    display: none;
}

#burgermenu {
    background-image: url("photos.mobile/burgermenu.png"); 
    width: 41px;
    height: 35px;
    border-style: none;
}
header {
    display: flex;
    align-items: center;
}

#mobilelogo {
    margin-left: auto;
    margin-right: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    opacity: 80%;
    width: 200px;
    height: 350px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .knapcontainer {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  nav {
      padding-bottom: 20px;
}


/*FORSIDE*/



/*MENUKORT-SIDEN*/



/*OM OS-SIDEN*/

.omosmain{
    text-align: center; 
    
}
.responsivebog {
    width: 100%;
    height: auto;
   
}


/*bestilknappen*/
.obestil{
    width: 120px;
    height: 60px;
    background-color: #377f7B;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 18px;
}
/*kridttavle*/
#okridttavle{
    background-image: url(photos.mobile/kridttalvla.omos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 5px;
    padding-bottom: 20px;
}
.kridtlaptop{
    background-image: url(photos.laptop/chalkLaptop.jpg);
    padding-top: 5px;
    padding-bottom: 20px;
    min-width: 300px;
    
}
.kridtravla-grid {
    display: grid;
    grid-template-columns: auto auto;
  }
  .grid-item {
    padding: 20px;
    text-align: center;
    text-decoration: none;
  }
/*link til de fire afdelninger*/
#okridttavle > a{
    text-decoration: none;
    color: white;
}
.kridtravla-grid > div > a{
    text-decoration: none;
    color: white;
}
/*andmedelser*/
.container-kunder {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.okunder,.okunder2 {
    width: 200px; 
}
.pil {
    width: 34px;
    height: 34px;
    padding-top: 100px;
}
/*historia-mobil*/
#ohistoria-container{
    display: flex;
    flex-direction: column;
    background-color:#edcbcc;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
  
}
/*historia-laptop*/
.container-bog {
    position: relative;
    font-family: Arial;
    display: flex;
    
  }
  
  .text-block,
  .text-block2 {
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    height: 10px;
  
  }
  .love-text,
  .love-text2 {
    text-align: center;
    max-width: 500px;
    padding-top: 40px;
    padding-left: 40px;
    margin-right: 500px;
  
    
  }
.responsivebog2 { /*den blåhvide bog*/
    width: 100%;
    height: auto;
  
}
/*vision og mission*/
.vision-container {
    display: flex;
    margin-right: 130px;
    width: 1000px;
    }
.vision-container > div{ 
    width: 500px;
    padding: 80px;
}



/*FOOTER*/
footer{
    color: white;
    line-height: 20pt;
    font-size: smaller;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    margin-top: 10px;
}

/*flexbox til footeren*/
footer > .b-flex-container{
    display: flex;
    background-image: url("photos.laptop/woodfooter.png");
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}












/*MEDIA QUERIES*/

/*SKAL stå nederst i CSS dokumentet*/



/* Extra small devices (phones, 600px and down). Dette er vores originale design*/





/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 600px) {


     /*HEADER*/



    /*FORSIDE*/



    /*MENUKORT-SIDEN*/



    /*OM OS-SIDEN*/ 
    #okridttavle {
        display: block;
    }
    .kridtlaptop {
        display: none;
    }
    .container-bog{
        display: none;
    }
    .vision-container{
        flex-direction: column;
    }
    
    
    
    /*FOOTER*/
    footer > .b-flex-container{
    flex-direction: column;
    font-size: 8pt;
    }
}

    /* Small devices (portrait tablets and large phones, 1000px and up) */
    
      /*HEADER*/



    /*FORSIDE*/



    /*MENUKORT-SIDEN*/



    /*OM OS-SIDEN*/ 
    
    @media only screen and (max-width: 1000px){
    .okunder2{
        display: none;}
    
    }


    /*FOOTER*/

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 600px) {

    /*HEADER*/



    /*FORSIDE*/



    /*MENUKORT-SIDEN*/



    /*OM OS-SIDEN*/
    .omosmain{
        margin-right: 130px;
        margin-left: 130px;
    }
    #okridttavle {
        display: none;
    }
    #ohistoria-container{
        display: none;
    }
    .vision-container
    {
        flex-direction: row;
    }

    
    
    
    /*FOOTER*/

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /*HEADER*/
    #burgermenu,
    #mobilelogo {
        display: none;
    }

    #tabletlogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    header{ /*gør at logo og flag står ved siden af hinanden*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
    }
    
    #flag { /*placere falgene øverst og ændre ikke placering*/
        z-index: 100;
        position: absolute;
    }
    
    #logo { /*Placere logoet i midten*/
        margin-left: auto;
        margin-right: auto;
    }
    
    /*Drop down menu - COMPUTER*/
    nav {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .btn { /*Designet på Menu-knapperne*/
        /*padding: 16px;*/
       font-size: 14px; 
        border: none;
        background-image: url("photos.laptop/chalkboard.jpg");
        width: 85px;
        height: 46px;
        }

    .dropdown-content {
        width: 85px;
        height: auto;
            }
        
}



/* (laptops/desktops, 800px and up) */
@media only screen and (min-width: 850px) {
    /*HEADER*/
    
    .btn { /*Designet på Menu-knapperne*/
        /*padding: 16px;*/
        font-size: 14px; /*Skal ændres til vw i samme størrelse som h4*/
        width: 95px;
        height: 46px;
      }
      .dropdown-content {
        width: 95px;
        }

}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /*HEADER*/
    
    .btn { /*Designet på Menu-knapperne*/
        /*padding: 16px;*/
        font-size: 14px; /*Skal ændres til vw i samme størrelse som h4*/
        width: 110px;
        height: 46px;
      }
      .dropdown-content {
        width: 110px;
        }
    
    /*FORSIDE*/

    /*MENUKORT-SIDEN*/

    /*OM OS-SIDEN*/

    /*FOOTER*/
} 

 /* Small devices (portrait tablets and large phones, 1000px and up) */
    
      /*HEADER*/



    /*FORSIDE*/



    /*MENUKORT-SIDEN*/



    /*OM OS-SIDEN*/ 

   

  

    @media only screen and (min-width: 1000px){
    .pil {
        display: none;
        
    }

}    

/* BetweenLarge devices (laptops/desktops, 992px and up) and Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1180px) {
    /*HEADER*/
    .btn { /*Designet på Menu-knapperne*/
        /*padding: 16px;*/
        font-size: 14px; /*Skal ændres til vw i samme størrelse som h4*/
        width: 130px;
        height: 46px;
      }
      .dropdown-content {
        width: 130px;
        }
}
     
/* Extra large devices (large laptops and desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {
    /*HEADER*/
    #tabletlogo {
        display: none;
    }

    #laptoplogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .btn { /*Designet på Menu-knapperne*/
        /*padding: 16px;*/
        font-size: 16px; /*Skal ændres til vw i samme størrelse som h4*/
        width: 140px;
        height: 46px;
      }

    .dropdown-content {
        width: 140px;
        }

}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
 /*HEADER*/
    .btn { /*Designet på Menu-knapperne*/
        /*padding: 16px;*/
        font-size: 16px; /*Skal ændres til vw i samme størrelse som h4*/
        width: 152px;
        height: 46px;
      }
    .dropdown-content {
    width: 152px;
    }

}




@media only screen and (max-width: 740px) {
    .text-block2{
        display: block;
    }

    .love-text2 > p {
        display: none;
    }

    .love-text2 > h2{
      font-size: 13px;  
    }
    .love-text{
        display:none;
    }
}

@media only screen and (min-width: 740px) {
    .text-block2{
        display: block;
    }

    .love-text2 > p {
        display: block;
        font-size: 11px;
    }

    .love-text2 > h2{
      font-size: 14px;  
    }

    .text-block{
        display:none;
    }
}

@media only screen and (min-width: 795px) {
    .text-block2{
        display: block;
    }

    .love-text2 > p {
        display: block;
        font-size: 12px;
    }

    .love-text2 > h2{
      font-size: 15px;  
    }

    .text-block{
        display:none;
    }
}

@media only screen and (min-width: 860px) {
    .text-block2{
        display: block;
    }

    .love-text2 > p {
        display: block;
        font-size: 14px;
    }

    .love-text2 > h2{
      font-size: 18px;  
    }

    .text-block{
        display:none;
    }

}

@media only screen and (min-width: 920px) {
    .text-block2{
        display: block;
    }

    .love-text2 > p {
        display: block;
        font-size: 16px;
    }

    .love-text2 > h2{
      font-size: 20px;  
    }

    .text-block{
        display:none;
    }

}

@media only screen and (min-width: 1055px) {
    .text-block2{
        display: none;
    }
    .text-block{
        display:block;
    }

    .love-text > p {
        font-size: 11px;
    }
}

@media only screen and (min-width: 1080px) {
    .text-block2{
        display: none;
    }
    .text-block{
        display:block;
    }

    .love-text > p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 2000px) {
    .text-block2{
        display: none;
    }
    .text-block{
        display:block;
    }

    .love-text > p {
        font-size: 13px;
    }
}

@media only screen and (min-width: 2090px) {
    .text-block2{
        display: none;
    }
    .text-block{
        display:block;
    }

    .love-text > p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 2800px) {
    .text-block2{
        display: none;
    }
    .text-block{
        display:block;
    }

    .love-text > p {
        font-size: 17px;
    }
}

