

/*Fonts*/
h1{font-family: Arial, Helvetica, sans-serif;}
h2{font-family: Arial, Helvetica, sans-serif;}
h3 {font-family: Arial, Helvetica, sans-serif;}
h4, 
a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    }
h5{font-family: Arial, Helvetica, sans-serif;}
h6{font-family: Arial, Helvetica, sans-serif;}
p{font-family: 'Libre Baskerville', serif;}

/*Font til kridtavler*/
/*Når du ønsker at bruge Pangolin-fonten, som er den vi bruger til kridtavler, så giv teksten en class, der hedder "chalk"*/
.chalk {font-family: 'Pangolin';
        color:white;}

/* Når du ønsker at noget tekst er med tyk skrift, så giv den en class, der hedder "bold"*/
.bold {font-weight: 900;}

/*Når du ønsker at noget tekst står med kursiv, så giv den en class, der hedder "italic"*/
.italic {font-style: italic;}




#laptoplogo, 
#tabletlogo,
nav {
    display: none;
}

#burgermenu {
    background-image: url("photos.mobile/burgermenu.png"); 
    width: 41px;
    height: 35px;
    border-style: none;
}
header {
    display: flex;
    align-items: center;
}

#mobilelogo {
    margin-left: auto;
    margin-right: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    opacity: 80%;
    width: 200px;
    height: 350px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .knapcontainer {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  nav {
      padding-bottom: 20px;
  }

















/*FORSIDE*/
/*studiemiljø*/
#studiemiljø{
    position: relative;
}

/*tekstboksen i billedet*/
#studiemiljøtekst{
    position: absolute;
    text-align: center;
    width: 50%;
    top: 5%;
    bottom: 50%;
    right: 5%;
    background-color: white;
    opacity: 75%;
    padding: 10px 20px;
    overflow: auto;
}

#studiemiljølaptop{
    width: 100%;
    height: auto;
}
#studiemiljømobile{
    display: none;
}

/*events*/

.f-grid-container {
    display: table;
    width: 100%;
    background-image: url("photos.laptop/f-chalk.jpg");
    margin-top: 10px;
}
.f-grid-container > div {
    padding: 20px;
    color: white;
    box-sizing: border-box;
}
#f-mobile-events{
    display: none;
}
/*de 'columns' der får elementerne til at opføre sig pænt*/
[class*="col-"] {
    float: left;
    padding: 10px;}
    
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

/*Nye vine*/
#f-nyevine{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#f-nyevine > div{
    text-align: center;
    width: 200px;
}

/*'Flere vine' Knap*/
.f-button-container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.f-button{
    background-image: url("photos.laptop/f-chalk.jpg");
    color: white;
    font-family: 'Pangolin';
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

/*Vinsmagning*/
#f-vinsmagning{
    background-image: url("photos.laptop/fvinsmagning.png");
    background-repeat: no-repeat;
    padding: 20px;
    margin-top: 10px;
}

#f-vin-tekstboks{
    background-color: white;
    opacity: 75%;
    padding: 20px;
    min-width: fit-content;
}

/*MENUKORT-SIDEN*/

/*OM OS-SIDEN*/

/*FOOTER*/
footer{
    color: white;
    line-height: 20pt;
    font-size: smaller;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    margin-top: 10px;
}

/*flexbox til footeren*/
footer > .b-flex-container{
    display: flex;
    background-image: url("photos.laptop/woodfooter.png");
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

























/*MEDIA QUERIES*/
/*SKAL stå nederst i CSS dokumentet*/

/* Extra small devices (phones, 600px and down). Dette er vores originale design*/

@media only screen and (max-width: 600px) {



    /*HEADER*/



    /*FORSIDE*/

        .forsidemain{
            font-size: 8pt;
        }
    
        #studiemiljølaptop{
            display: none;
        }
    
        #studiemiljømobile{
            display: flex;
            width: 100%;
        }
    
        #studiemiljøtekst{
            top: 2%;
            font-size: smaller;
        }
    
        #f-nyevine{
            flex-direction: column;
            align-items: center;
        }
    
        #f-vinsmagning{
            background-image: url("photos.mobile/fvinsmagning.png");
            }
    
        #f-vin-tekstboks{
            text-align: center;
            padding: 5px;
            }

    /*MENUKORT-SIDEN*/



    /*OM OS-SIDEN*/



    /*FOOTER*/
        footer > .b-flex-container{
            flex-direction: column;
            font-size: 8pt;
        }


}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /*HEADER*/
    

    /*FORSIDE*/
        #f-vin-tekstboks{
            margin-right: 50%;
            padding: 20px;
        }

    /*MENUKORT-SIDEN*/

    /*OM OS-SIDEN*/

    /*FOOTER*/
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /*HEADER*/
    #burgermenu,
    #mobilelogo {
        display: none;
    }

    #tabletlogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    header{ /*gør at logo og flag står ved siden af hinanden*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
    }
    
    #flag { /*placere falgene øverst og ændre ikke placering*/
        z-index: 100;
        position: absolute;
    }
    
    #logo { /*Placere logoet i midten*/
        margin-left: auto;
        margin-right: auto;
    }
    
    /*Drop down menu - COMPUTER*/
    nav {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .btn { /*Designet på Menu-knapperne*/
        /*padding: 16px;*/
       font-size: 14px; /*Skal ændres til vw i samme størrelse som h4*/
        border: none;
        background-image: url("photos.laptop/chalkboard.jpg");
        width: 85px;
        height: 46px;
        }

    .dropdown-content {
        width: 85px;
        height: auto;
            }
        



    
    /*FORSIDE*/

    /*MENUKORT-SIDEN*/

    /*OM OS-SIDEN*/

    /*FOOTER*/
} 

/* (laptops/desktops, 800px and up) */
@media only screen and (min-width: 850px) {
    /*HEADER*/
    
    .btn { /*Designet på Menu-knapperne*/
        /*padding: 16px;*/
        font-size: 14px; /*Skal ændres til vw i samme størrelse som h4*/
        width: 95px;
        height: 46px;
      }
      .dropdown-content {
        width: 95px;
        }
    
    /*FORSIDE*/

    /*MENUKORT-SIDEN*/

    /*OM OS-SIDEN*/

    /*FOOTER*/
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /*HEADER*/
    
    .btn { /*Designet på Menu-knapperne*/
        /*padding: 16px;*/
        font-size: 14px; /*Skal ændres til vw i samme størrelse som h4*/
        width: 110px;
        height: 46px;
      }
      .dropdown-content {
        width: 110px;
        }
    
    /*FORSIDE*/

    /*MENUKORT-SIDEN*/

    /*OM OS-SIDEN*/

    /*FOOTER*/
} 

/* BetweenLarge devices (laptops/desktops, 992px and up) and Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1180px) {
    /*HEADER*/
    .btn { /*Designet på Menu-knapperne*/
        /*padding: 16px;*/
        font-size: 14px; /*Skal ændres til vw i samme størrelse som h4*/
        width: 130px;
        height: 46px;
      }
      .dropdown-content {
        width: 130px;
        }
}
      

/* Extra large devices (large laptops and desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {
    /*HEADER*/
    #tabletlogo {
        display: none;
    }

    #laptoplogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .btn { /*Designet på Menu-knapperne*/
        /*padding: 16px;*/
        font-size: 16px; /*Skal ændres til vw i samme størrelse som h4*/
        width: 140px;
        height: 46px;
      }

    .dropdown-content {
        width: 140px;
        }

}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
 /*HEADER*/
    .btn { /*Designet på Menu-knapperne*/
        /*padding: 16px;*/
        font-size: 16px; /*Skal ændres til vw i samme størrelse som h4*/
        width: 152px;
        height: 46px;
      }
    .dropdown-content {
    width: 152px;
    }
    /*FORSIDE*/

    /*MENUKORT-SIDEN*/

    /*OM OS-SIDEN*/

    /*FOOTER*/
}

/*Miras special MQ til 'events' sektion */
@media only screen and (max-width: 992px){

    #f-mobile-events{
        background-image: url("photos.laptop/f-chalk.jpg");
        padding: 10px;
        display: block;
        text-align: center;
        color: white;
        margin-top: 10px;
    }
    #f-mobile-events > div{
        display: flex;
        justify-content: center;
    }
    .f-grid-container{
        display: none;
    }
}